{% extends "layout.twig" %}
{% block title %}| Lista Rodamiento{% endblock %} 
{% block content %}

<section class="content tread">

    <article class="info__content">
        <table class="info__frame">
            <thead>
                <tr>
                    <th>Numero planilla</th>
                    <th>Numero interno</th>
                    <th>Despacho</th>
                    <th>Imagen recibo</th>
                    <th>Activo</th>
                    <th>Informacion</th>
                    {# <th>{{nombre}}</th> #}
                </tr>
            </thead>
            {% for rodamiento in rodamientos %}
                <tbody>
                    <tr>
                    <td>
                        {{rodamiento.numero_planilla}}
                    </td>
                    <td>
                        {{rodamiento.num_vehiculo.numero_interno}}
                    </td>
                    <td>
                        {{rodamiento.control.nombre}}
                    </td>
                    <td>
                        <div class="imgContent"> 
                            <button class="reciboImg">Ver recibo</button>
                        </div>
                    </td>
                    <td>
                        <div class=" onoffswitch__form onoffswitch">
                            <input checked class="onoffswitch-checkbox" id="myonoffswitch" name="onoffswitch" type="checkbox">
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="acciones_icon">
                            <i class="edit__bus icon-pencil" id=""></i>
                            <i class="delete__bus icon-bin" id="delete__bus"></i>
                        </div>
                    </td>
                </tbody>
            {% endfor %}
        </table>
    </article>
    <div class="dataTable_paginate">
        <ul class="pagination">
            <li class="paginate_button page-item">
                <a class="page_link" href="#">Anterior</a>
            </li>
            <li class="paginate_button page-item">
                <a class="page_link" href="#">1</a>
            </li>
            <li class="paginate_button page-item">
                <a class="page_link" href="#">2</a>
            </li>
            <li class="paginate_button page-item">
                <a class="page_link" href="#">3</a>
            </li><li class="paginate_button page-item">
                <a class="page_link" href="#">Siguiente</a>
            </li>
        </ul>
    </div>
    </section>

    <div class="overlay" id = "overlay">
    </div>
    <div class="modal" id="modal">
        {% for rodamiento in rodamientos %}
        <h1>Foto recibo</h1>
        <div class="modal-content">
            <figure>
                <img src={{rodamiento.imagen}} width="170" heigth="256">
            </figure>
            <p>foto del recibo del vehiculo {{rodamiento.num_vehiculo.numero_interno}}</p>
        </div>
        <div class="modal-buttones">
            <button class="modal-btn primary" id="hide-modal">Cerrar</button>
        </div>
        {% endfor %}
    </div>
    




    {# <section class="removerRodamiento">
        <div class="modal">
        <div class="modal" id="modal-remove">
            <form accept-charset="utfclass=-8" action="listVehicle.html" class="form-remove" method="get">
                <p class="modal__Rodamiento-parag">
                    ¿Esta seguro que desea eliminar el vehiculo?
                </p>
                <div class="btn_form">
                    <button class="btn btn__add" id="hiden-add" type="submit" value="eliminar">Eliminar</button>
                    <button class="btn btn__close" id="remove-cancel" type="submit" value="cencelar">Cancelar</button>
                </div>
            </form>
        </div>
        </div>
    </section> #}
    {% endblock %}
